[flake8]
# 忽略的错误代码
ignore = E203, E266, E501, W503

# 最大行长度
max-line-length = 120

# 最大圈复杂度
max-complexity = 18

# 选择要检查的错误代码类别
select = B,C,E,F,W,T4,B9

# 排除特定的文件或目录
exclude =
    .git,
    .hg,
    .mypy_cache,
    .tox,
    .venv,
    _build,
    buck-out,
    build,
    dist

# 扩展忽略的错误代码
extend-ignore = E203, E266